# Dictionary in python

Dictionary are used to store data values in key:value pairs

Dictionary item are ordered , changable, and does not allow duplicates

# Creating Dictionary

In [1]:
a = {"ID":"123ab",
    "color":"Black",
    "year":1964}
print(a)
print(type(a))

{'ID': '123ab', 'color': 'Black', 'year': 1964}
<class 'dict'>

In [2]:
a = {"ID":"123ab",
    "color":"Black",
    "year":1964}
print(a["color"])

Black

# Dictionary Length

In [3]:
a = {"ID":"123ab",
    "color":"Black",
    "year":1964}
print(len(a))

3

# Constructor

In [6]:
a = dict(name="Ashwini",
         location="Pune",
         age=21)
print(a)
print(type(a))

{'name': 'Ashwini', 'location': 'Pune', 'age': 21}
<class 'dict'>

# Access

In [8]:
a = dict(name="Ashwini",
         location="Pune",
         age=21)
print(a["name"])

Ashwini

In [10]:
# using the get method
a = dict(name = 'Ashwini',
        loc= 'Pune',
        age = 21)
print(a.get("name"))

Ashwini

# keys

In [15]:
a = dict(name = 'Ashwini',
        loc= 'Pune',
        age = 21)
x = a.keys()
x

dict_keys(['name', 'loc', 'age'])

# modify

In [17]:
a = {"name":'Ashwini',
        "loc":'Pune',
        "age" :21}
a["age"] = 28
print(a)

{'name': 'Ashwini', 'loc': 'Pune', 'age': 28}

# adding item

In [21]:
a = {"name":'Ashwini',
        "loc":'Pune',
        "age" :21}
a.update({"email id" : "2005ashwinipawar@gmail.com"})
print(a)

{'name': 'Ashwini', 'loc': 'Pune', 'age': 21, 'email id': '2005ashwinipawar@gmail.com'}

# remove item

In [23]:
a = {"name":'Ashwini',
        "loc":'Pune',
        "age" :21}
a.pop("age")
print(a)

{'name': 'Ashwini', 'loc': 'Pune'}

In [25]:
a = {"name":'Ashwini',
        "loc":'Pune',
        "age" :21}
del a["loc"]
print(a)

{'name': 'Ashwini', 'age': 21}

# clear

In [28]:
# provide the empty dictionary
a = {"name":'Ashwini',
        "loc":'Pune',
        "age" :21}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# concatenation

In [32]:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}
dict3 = {}
for d in (dict1,dict2):dict3.update(d)
print(dict3)

{1: 10, 2: 20, 3: 30, 4: 40}

In [33]:
d = dict()
for x in range(1,16):
    d[x] = x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}