# List in python

List are used to store multiple item in single variable

List are ordered,changeble and allow duplicate values.

# Create a list

In [6]:
a = [1,2,3,4,5,6]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [5]:
b = ["Apple","Banana","Cherry"]
print(b)
print(type(b))

['Apple', 'Banana', 'Cherry']
<class 'list'>

# Allows duplicates

In [7]:
mylist = ["Apple","Banana","Cherry","Apple"]
print(mylist)

['Apple', 'Banana', 'Cherry', 'Apple']

# data types

In [10]:
list1 = ["apple","banana","Cherry"]
list2 = [1,2,3,4,5]
list3 = [7.9,4.5,6.7]
list4 = [True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'Cherry']
[1, 2, 3, 4, 5]
[7.9, 4.5, 6.7]
[True, False, True]

In [11]:
a = [12,13,14,15,5.9,5.2,"student","hello",True,False]
print(a)
print(type(a))

[12, 13, 14, 15, 5.9, 5.2, 'student', 'hello', True, False]
<class 'list'>

# lenth of list

In [14]:
a = [12,13,14,15,5.9,5.2,"student","hello",True,False]
print(a)
print("lenth of list:",len(a))

[12, 13, 14, 15, 5.9, 5.2, 'student', 'hello', True, False]
lenth of list: 10

# Access items

In [15]:
list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(list[1])

15

In [19]:
print(list[-1])

5

print(list[-8])

# Slicing

In [20]:
list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(list[0:6])

[12, 15, 26, 78, 14, 25]

In [26]:
print(list[3:9:2])

[78, 25, 142]

# change item

In [28]:
thislist = ["Apple","banana","cherry"]
thislist[1] = "strawberry"
print(thislist)

['Apple', 'strawberry', 'cherry']

In [30]:
a = [12,14,15,16,18,19,20]
a[2]="Student"
print(a)

[12, 14, 'Student', 16, 18, 19, 20]

# change a range of item values

In [31]:
a = [12,14,15,16,8,-9,5,-3,41,-9]
a[2:4] = ["Books","pen","pencil"]
print(a)

[12, 14, 'Books', 'pen', 'pencil', 8, -9, 5, -3, 41, -9]

# add item in list

In [32]:
a = [12,14,15,78,96,25]
a.append(-9)
print(a)

[12, 14, 15, 78, 96, 25, -9]

# remove item in list

In [34]:
m = [78,12,45,56]
m.remove(78)
print(m)

[12, 45, 56]

# reverse the list

In [37]:
n = [1,2,3,4,5,6,"data"]
n.reverse()
print(n)

['data', 6, 5, 4, 3, 2, 1]

In [41]:
l = [14,15,12,78,-9,23,-8,52,74,89,25,10,8]
print(len(l))
a = 0
for i in range(13):
    a = a+l[i]
    i= i+1
print("the sum of a list is ",a)

13
the sum of a list is  383

# multiply all the numbers of a list

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
m = 0
for i in range(10):
    m = m * a[i]
    i = i