# sets in python

set are used to store multiple items in a single variable

set is one of 4 nuilt_in data type in python used to store collection of data , the other 3 are list,tuple,and dictionary,all with different qualities and usage

# A set is collection which is unordered,unchangeable,and unindexed

# creating a set

In [1]:
a = {"animals","ball","cat"}
print(a)

{'animals', 'ball', 'cat'}

# set item are unordered

In [3]:
a = {"animals","ball","cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

# duplicate are not allowed

In [5]:
a = {"Animal","ball","cat","Animal","ball","table"}
print(a)

{'Animal', 'table', 'ball', 'cat'}

# True and 1 consider the same value

In [6]:
a = {"animal","ball","cat",True,1}
print(a)

{'animal', True, 'ball', 'cat'}

# set length

In [7]:
a = {"Animal","ball","cat","Animal","ball","table"}
print(len(a))

4

# set items - data types

In [8]:
x = {1,2,3,4,5}
x1 = {1.2,2.3,4.5,6.7}
x2 = {"a","b","c","d"}
x3 = {True,False}
print(x,x1,x2,x3)

{1, 2, 3, 4, 5} {1.2, 2.3, 4.5, 6.7} {'a', 'c', 'b', 'd'} {False, True}

In [12]:
a = {1,2.4,"Apple",True,(6+3j)}
print(a)

{1, 2.4, 'Apple', (6+3j)}

# creating empty set

In [15]:
a = set()
print(type(a))

<class 'set'>

# Access items

In [18]:
a = {"a","b","c"}
for x in a:
    print(x)

a
b
c

# add item

In [19]:
a = {"a","b","c","d"}
a.add(100)
print(a)

{'c', 100, 'a', 'b', 'd'}

In [20]:
x = {"data",'python',"code"}
y = {10,20,30,40,50}
x.update(y)
print(x)

{'python', 40, 10, 50, 'data', 20, 'code', 30}

# remove item in set

In [ ]:
y = {10,20,30,40,50}
y.