# Variable & operators

Variable

In [1]:
a = 1
print(a)

1

In [3]:
b = 2
c = 2,3
print(b,c)

2 (2, 3)

In [5]:
x = 'apple'
print(a)

1

In [7]:
datamites = 'students'
print(datamites)

students

In [9]:
student123 = 25
print(student123);

25

In [11]:
_a = 5
print(_a)

5

# Many values to multiple variables

In [14]:

x,y,z ='mango','banana','cherry'
print(x,y,z)

mango banana cherry

In [16]:
print(y)

banana

In [18]:
x = y = 'mango'
print(x,y)

mango mango

# python output variables

In [19]:
x = 'python'
y = 'is'
z = 'amazing'

print(x)
print(y)
print(z)

python
is
amazing

In [20]:
print(x,y,z)

python is amazing

# data types

In [22]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [25]:
y = 'ashwini'
print(y)
print(type(y))

ashwini
<class 'str'>

In [30]:
z = (1,2,3,4,5,6,7)
print(z)
print(type(z))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [33]:
a = {1,"Ashwini",0}
print(a)
print(type(a))

{0, 1, 'Ashwini'}
<class 'set'>

In [37]:
b = [1,2,3,4,5,6]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [40]:
%whos

Variable     Type     Data/Info
-------------------------------
a            set      {0, 1, 'Ashwini'}
b            list     n=6
c            tuple    n=2
datamites    str      students
student123   int      25
x            int      2
y            str      ashwini
z            tuple    n=7

# operators in python

Arithmetic operators

In [44]:
a,b = 3,5
print(a+b)

8

In [45]:
a,b = 5,7
print(a-b)

-2

In [48]:
a = 8
c = 5+2j
print(a*c)

(40+16j)

In [50]:
a = 'hello'
b = 'Ashwini'
print(a +" " + b)

hello Ashwini

In [51]:
a = 9
b = 8
print(a/b)

1.125

In [54]:
#exponent
a = 12
print(a**8)

429981696

# Logical operator

In [55]:
a = True
b = False
print(a and b)

False

In [56]:
print(a or b)

True

In [58]:
print(not (a))

False